@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Integrantes do Grupo</h1>
    <h3>RM87204 - Carlos Alberto Mascarenhas Ferreira</h3>
    <h3>RM89052 - Carlos Rithyellen de Souza Leal</h3>
    <h3>RM87469 - Rafael Felipe Zamignani</h3>
    <h3>RM89339 - Renan da Silva Ramos</h3>
</div>
