@using WebAppGlobal.ViewModels
@model EstacionamentoVM 

<form class="mt-2" asp-action="Criar">

    <div class="mb-3 row">
        <label for="inputNome" class="col-sm-2 col-form-label">Nome:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputNome" asp-for="Nome">
        </div>
    </div>

    <div class="mb-3 row">
        <label for="inputEndereco" class="col-sm-2 col-form-label">Código do Endereço:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputNome" asp-for="EnderecoId">
        </div>
    </div>

    <button type="submit" class="btn btn-secondary">Cadastrar</button>
    <a class="mt-2" asp-action="Listar">Voltar para Lista</a>
</form>

